* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f0f2f5;
}

/* Cabeçalho */
.cabeçalho {
    background: #003366;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}